<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Change  Password</title>
    <wo:ERXStyleSheet filename = "simed.css" />
  </head>
  <body> 
<div class = "flex-container">
  <div class = "table-row noborder">
    <div class = "column noborder width-030">&nbsp;</div>
    <div class = "column noborder width-040">
      <div id = "loginPanel" class = "flex-container">
        <wo:form name = "loginForm" id = "loginForm" multipleSubmit = "true">
          <wo:conditional condition = "$hasLogo">
            <div class = "table-row noborder margin-vertical-5">
              <div id = "logo" class = "column noborder width-100"> <wo:image alt = "logo" filename = "$logoName" framework = "$framework" class = "logologin" id = "logologin" /> </div>
            </div>
          </wo:conditional>
          <wo:conditional condition = "$isSuccessfulyChanged" negate = "true">
           <wo:conditional condition = "$hasCurrentPassword">
          
          <div class = "table-row noborder margin-vertical-2">
            <div class = "column noborder width-050 flex-justify-end">Current password:&nbsp;</div>
            <div class = "column noborder width-050 flex-justify-start"> <wo:passwordField  width = "100" value = "$currentPassword" /> </div>
          </div>
 		  </wo:conditional>         
          <div class = "table-row noborder margin-vertical-2">
            <div class = "column noborder width-050 flex-justify-end">Choose a new password:&nbsp;</div>
            <div class = "column noborder width-050 flex-justify-start"> <wo:passwordField id = "password"  width = "100" value = "$password" /> </div>
          </div>
          <div class = "table-row noborder margin-vertical-2">
            <div class = "column noborder width-050 flex-justify-end">Confirm your new password:&nbsp;</div>
            <div class = "column noborder width-050 flex-justify-start"> <wo:passwordField id = "passwordRetyped" width = "100" value = "$passwordRetyped" /> </div>
          </div>
          <div class = "table-row noborder margin-vertical-5">
            <div class = "column noborder width-100">
              <wo:submitButton id = "loginButton" name = "loginButton" action = "$changePassword" value = "Change password">Change password</wo:submitButton>
            </div>
          </div>
		</wo:conditional>
          <wo:conditional condition = "$errorMessage">
            <div class = "table-row noborder margin-vertical-5">
              <div id = "errorMessage" class = "column noborder width-100  warn"> <wo:string value = "$errorMessage" /> </div>
            </div>
          </wo:conditional>
        </wo:form>
      </div>
    </div>
    <div class = "column noborder width-030">&nbsp;</div>
  </div>
</div>
</body>
</html>
