{
    attributes = (
        {allowsNull = N; columnName = centerID; name = centerID; prototypeName = id; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = publicID; name = publicID; prototypeName = varchar100; }, 
        {allowsNull = N; columnName = roleId; name = roleId; prototypeName = id; }
    ); 
    attributesUsedForLocking = (id, publicID); 
    className = "ch.hcuge.simed.cohort.transverse.db.WorkPosition"; 
    classProperties = (publicID, role, workLocation); 
    externalName = WorkPosition; 
    fetchSpecificationDictionary = {}; 
    name = WorkPosition; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Role; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = roleId; }); 
            name = role; 
        }, 
        {
            destination = Center; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = centerID; }); 
            name = workLocation; 
        }
    ); 
    userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
}
